.labels{
    font-size: 12px;
    font-weight: bold;
  }

.lines{
  opacity: .3;
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.divpie{
  max-width:700px;
  width:50%;
}

.svgimg{
	float:left;
  display: table-cell;
  vertical-align: top;
}

.svgbar{
	float:left;
	clear: left;
  vertical-align: top;
}

.allwidth{
  width: 100%;
}

#firstcol{
  margin-top: 100px;
}

#secondcol{
  margin-top: 100px;
}

/*bar chart*/
/*.bar {
  fill: steelblue;
}*/

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#resetbtn{
  float:right;
  margin-right: 200px;
}

.button {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #F04444;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.button:hover {background-color: #AE5151}

.button:active {
  background-color: #F90000;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

#thetitle{
  /*padding: 15px 155px;*/
  margin-left: 150px;
}

#thesubtitle{
    margin-left: 250px;
  margin-bottom: 50px;
}